html
{
	margin: 0;
	padding: 0;
	
	font-family: "droid sans", "sans-serif";
	color: #AAAAAA;
}

body
{
	margin: 0;
	padding: 0;
	
	background-color: #1F1F1F;
	text-align: center;
}

a {
	color: #EE6600;
}

a:hover {
	color: #FFAA00;
}

div
{
	vertical-align: top;
}

h1
{
	font-weight: normal;
}

.button
{
	margin: 2%;
	padding: 8px;

	width: 16%;
	height: 64px;
	
	font-size: 24px;
	text-align: left;
	
	display: inline-block;
	background-color: #AAAAAA;
}
